* {
    font-family: 'serif';
}

body {
    background-image: url("https://wallpapersmug.com/download/3840x2160/7a22c5/forest_mountains_sunset_cool_weather_minimalism.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    height: 100vh;

}